@import './variables';

body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-favorite {
  color: #ff6b08;
  font-size: 100px;
}

.icon-social {
color: #545454;
font-size: 44px;
}