$accent-icon: #ff6b08;
$accent-text: #ff6b01;
$white: #ffffff;
$black: #000000;
$page-footer-color: #f7f7f7;
$secondary-text-color: #545454;
$icon-color: #818181;
$modal-text-color: #8c8c8c;
$error-text-color: #ff001b;