:root {
    --accent-icon: #FF6B08; 
    --accent-text:#ff6b01;
    --white: #ffffff;    
    --black: #000000;
    --pagin-futer-color:#F7F7F7;
    --secondary-text-color: #545454;
    --icon-color:#818181;
    --modal-text-color:#8C8C8C;
    --error-text-color:#FF001B;
  
   
  }