.container {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
  @include for-size($phone) {
    width: 480px;
  }

  @include for-size($tablet) {
    width: 768px;
    padding-right: 76px;
    padding-left: 76px;
  }

  @include for-size($desktop) {
    width: 1024px;
    padding-right: 71px;
    padding-left: 71px;

  }
}

