.container {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @include for-size($phone) {
    width: 480px;
  }

  @include for-size($tablet) {
    padding-right: 75px;
    padding-left: 75px;
  }

  @include for-size($desktop) {
    padding-right: 70px;
    padding-left: 70px;
  }
}
