/* Hidden element  */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

//   For backdrop
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
