{{!-- <div class="myLibraryButtons">
    <button class="btn-lib" data-index="watched">WATCHED</button>
    <button class="btn-lib" data-index="queue">QUEUE</button>
</div> --}}

<div class="btn-container is-hidden">
    <button class="lib-btn btn wathed current__myLibraryBtn" data-index="watched">Watched</button>
    <button class="lib-btn btn queue" data-index="queue">Queue</button> 