<div class='myLibraryButtons'>
  <button class='btn-lib watched js-watched-btn' data-index='watched'>WATCHED</button>
  <button class='btn-lib queue js-queue-btn' data-index='queue'>QUEUE</button>
</div>