.team-discription {
  margin-top: 10px;
  font-size: 16px;
}
.team-contact {
  font-size: 16px;
}

.team-card-list-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.teamcard-list-item {
  margin: 15px;
  flex-basis: calc(100% / 3 - 10px);
}

.modal-container {
  padding-top: 0px;
  position: relative;
  width: 160px;
  .modal-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    line-height: 30px;
    background: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
    &:hover {
      background: #ff6b08;
    }
  }
  .modal-content,
  .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    background: #fff;
    border-radius: 2px;
    font-size: 14px;
    padding-top: 9px;
    font-weight: normal;
    width: 30px;
    bottom: 5px;
    right: 5px;
    height: 30px;
    &:hover {
      color: #fff;
      background: #ff6b08;
    }
  }
  #modal-toggle {
    display: none;
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: #fff;
      /* max-width: 400px; */
      width: auto;
      height: auto;
      padding: 15px 15px;
      margin: 30px 30px;
      position: fixed;
      flex-wrap: wrap;
      /* left: calc(50% - 200px); */
      top: 12%;
      left: 0;
      display: flex;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgb(0 0 0 / 60%);
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }
  }
}
