<div class="container">
  <nav class="nav">
    <a href="" class="nav-logo logo-style">
      <img class="nav-logo-icon" src="./images/header/logo.svg" alt="film" />
      <span class="logo-text hidden-logo">Filmoteka</span>
    </a>
    <!-- <div class=""> -->
    <!-- место для личного кабинета -->
    <!-- </div>  -->
    <div class="flex">
      <button class="nav-btn current" data-index="home" id="homeBtn">HOME</button>
      <button class="nav-btn" data-index="libraryBtn">MY LIBRARY</button>
    </div>
  </nav>
  <div data-index="headerContent">
    <form class="film-search" action="">
      <input class="film-search-input" type="text" placeholder="Search films" autocomplete="off" /><i
        class="material-icons white search-icon">search</i>
      <p>
        <!-- <!-- fetch status -->
      </p>
    </form>



  </div>
</div>
</div>