<div class="container header header__background-home " data-index="header">
  <nav class="nav">
    <a href="" class="nav-logo logo-style">
      <img class="nav-logo-icon" src="./images/header/logo.svg" alt="film" />
      <span class="logo-text hidden-logo">Filmoteka</span>
    </a>
    <!-- <div class=""> -->
    <!-- место для личного кабинета -->
    <!-- </div>  -->
    <div class="flex">
      <button class="nav-btn current" data-index="home" id="homeBtn">HOME</button>
      <button class="nav-btn" data-index="libraryBtn">MY LIBRARY</button>
    </div>
  </nav>
  <div data-index="headerContent">
    <form class="film-search" action="">
      <input
        class="film-search-input"
        type="text"
        placeholder="Search films"
        autocomplete="off"
      /><i class="material-icons material-icons-search">search</i>
      <p>
        <!-- fetch status -->
      </p>
    </form>
<!--     
    <div class="btn-container is-hidden">
      <button class="lib-btn btn watched current__myLibraryBtn" data-index="watched">Watched</button>
      <button class="lib-btn btn queue" data-index="queue">Queue</button>
    </div> -->

    <!-- <div class="myLibraryButtons">
      <button class="btn-lib" data-index="watched">WATCHED</button>
      <button class="btn-lib" data-index="queue">QUEUE</button>
    </div> -->

  </div>
</div>
</div>