<div class="toolbar_time">
    <!-- Разметка переключателя Time -->
    <div class="time-switch">
        <p class="week-time">Week</p>
        <div class="time-switch__control">
            <input class="time-switch__toggle" type="checkbox" name="time-switch__toggle" id="time-switch__toggle"
                aria-label="Переключить между днем и неделей" />
            <label aria-hidden="true" class="time-switch__track" for="time-switch__toggle">
            </label>
            <div aria-hidden="true" class="time-switch__marker"></div>
        </div>

        <p class="day-time">Day</p>

    </div>
</div>