<!-- TeamModal -->
<div class="backdrop is-hidden">
  <button type="button" class="team-modal-close-button">
      <!-- заменишь на крестик с материал-айкон -->
    <!-- <svg class="close-icon">
      <use href="./images/sprite.svg#close-button"></use>
    </svg> -->
  </button>
  <div class="team-modal">
    <ul class="teamcard-list">
      <li class="teamcard-list-item">
        <img src="./images/photo/Oleg.jpg" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name"><br /></h2>
        <p class="team-discription">Team Lead</p>
        <a class="team-contact" href="mailto:yamhurov.oleh1@gmail.com">yamhurov.oleh1@gmail.com</a>
      </li>
      <li class="teamcard-list-item">
        <img
          src="./images/photo/Zoryana.jpg"
          alt="teammate photo"
          class="team-card-list-img"
        />
        <h2 class="team-name">Zoryana <br />Kuziv</h2>
        <p class="team-discription">Scrum Master</p>
        <a class="team-contact" href="mailto:zoryana.kuziv1@gmail.com">zoryana.kuziv1@gmail.com</a>
      </li>
      <li class="teamcard-list-item">
        <img src="./images/photo/Sergey.jpeg" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Sergey <br />Michaylichenko</h2>
        <p class="team-discription">Developer</p>
        <!-- Добавишь иконку эмайла -->
        <a class="team-contact" href="mailto:4eptnk1@gmail.com">4eptnk@gmail1.com</a>
      </li>
      <li class="teamcard-list-item">
        <img src="./images/photo/Irina.jpg" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Irina <br />Samarina</h2>
        <p class="team-discription">Developer</p>
        <a
          class="team-contact"
          href="mailto:samarinairina20171@gmail.com"
          samarinairina20171@gmail.com</a>
      </li>
      <li class="teamcard-list-item">
        <img src="./images/photo/.jpg" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Alina <br />Pristinskaya</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="mailto:pristinskayaalina91@gmail.com">pristinskayaalina91@gmail.com</a>
      </li>
      <li class="teamcard-list-item">
        <img src="./images/photo/Sergii.jpg" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Sergii <br />Bogush</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="mailto:sergbogush1@gmail.com">sergbogush1@gmail.com</a>
      </li>
      <li class="teamcard-list-item">
        <img src="./images/photo/Evgenii.jpg" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Andriy<br />Hedzyk</h2> 
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="mailto:andriy.hedzyk1@gmail.com">andriy.hedzyk1@gmail.com</a>
      </li>
      <li class="teamcard-list-item">
        <img
          src="./images/photo/elena_najdenova.jpg"
          alt="teammate photo"
          class="team-card-list-img"
        />
        <h2 class="team-name">Stanislav<br />Veremchuk</h2>
        <p class="team-discription">Developer</p>
        <a class="team-contact" href="mailto:veremchuk.stanislav@gmail.com"
          >veremchuk.stanislav@gmail.com</a
        >
      </li>
    </ul>
  </div>
</div>
